@font-face {
    font-family: "Source Sans 3";
    src: url("./fonts/SourceSans3-Regular.woff2") format("woff2");
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
}

a {
    color: #607CE6;
    text-decoration: none;
}

body {
    padding-top: 32px;
    padding-bottom: 32px; 
}

.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    width: 180px;
    height: 38px;
}

.header__top {
    justify-content: space-between;
    margin-bottom: 20px;

}

.flex {
    display: flex;
}

.header__mail,
.header__tel {
    text-align: end;
    margin-left: 20px;
}

.mail__text,
.tel__text {
    font-size: 20px;

}

.mail__text {
    text-decoration-line: underline;
}

.menu {
    justify-content: space-between;
    margin-top: 10px;

}

.menu__link {
    color: black;
}

.call {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.call img {
    margin-right: 5px;
}


.intro {
    margin-top: 80px;
}
.intro_title {
    font-size: 60px;
    font-weight: 700;
}
.intro__special {
    margin: 20px 100px;
}
.hero img{
    max-width: 100%;
}

.about {
    margin-top: 80px;
}

.about__text {
    margin-top: 32px;
    gap: 20px;
}

.about__uni {
    flex-direction: column;
    justify-content: space-between;
}

.about__image {
    margin-top: 32px;
    max-width: 580px;
    width: 100%;
}


.products {
    margin-top: 80px;
}

.products__list {
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    min-height: 435px;
    background-color: #F5F5F5;
    padding: 32px 0 32px 24px;
}
.product__image{
    width: 200px;
}
.product__image img{
    width: 100%;
    height: auto;
}
.product__description{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.representations{
    margin-top: 80px;
}

.news{
    margin-top: 80px;
}
.news__list{
    margin-top: 32px;
    gap: 20px;
}
.news__item{
    flex-direction: column;
    gap: 16px;
    width: 380px;
    min-height: 478px;
    background-color: #F5F5F5;
}
.new__info{
    flex-direction: column;
    justify-content: space-between;
    min-height: 211px;
    padding: 16px 16px 24px 16px; 
}
.new__heading{
    font-size: 20px;
}
.new__end{
    width: 350px;
    justify-content: space-between;
    bottom: 0;
    margin-top: 81px;
}
.new__date{
    color: #888888;
}
footer{
    margin-top: 80px;
    background-color: #333333;
    padding: 56px 0 24px 0;
}
.topFooter{
    justify-content: space-between;
}
.footerMenu{
    gap: 57px;
}
.footerMenu__item{
    flex-direction: column;
    gap: 24px;
}
.footerMenu a{
    color:#FFFFFF;
    font-size: 16px;
}
.company{
    text-align: center;
    margin-top: 73px;
}